In [ ]:
import pandas as pd

In [2]:
data = pd.read_csv("../../data_1/train.csv")

In [3]:
data

       ImageId_ClassId                                      EncodedPixels
0      0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1      0002cc93b.jpg_2                                                NaN
2      0002cc93b.jpg_3                                                NaN
3      0002cc93b.jpg_4                                                NaN
4      00031f466.jpg_1                                                NaN
...                ...                                                ...
50267  ffff4eaa8.jpg_4                                                NaN
50268  ffffd67df.jpg_1                                                NaN
50269  ffffd67df.jpg_2                                                NaN
50270  ffffd67df.jpg_3  30931 43 31103 127 31275 211 31489 253 31745 2...
50271  ffffd67df.jpg_4                                                NaN

[50272 rows x 2 columns]

In [23]:
data_new = data.ImageId_ClassId.str.split("_",expand=True)
data_new.columns=["Files", "DefectClass"]
data_final = pd.concat([data_new, data.EncodedPixels],axis=1)
data_final

,Files,DefectClass,EncodedPixels
0,0002cc93b.jpg,1,29102 12 29346 24 29602 24 29858 24 30114 24 3...
1,0002cc93b.jpg,2,NaN
2,0002cc93b.jpg,3,NaN
3,0002cc93b.jpg,4,NaN
4,00031f466.jpg,1,NaN
...,...,...,...
50267,ffff4eaa8.jpg,4,NaN
50268,ffffd67df.jpg,1,NaN
50269,ffffd67df.jpg,2,NaN
50270,ffffd67df.jpg,3,30931 43 31103 127 31275 211 31489 253 31745 2...
50271,ffffd67df.jpg,4,NaN

In [78]:

data_selected = data_final[data_final["DefectClass"]=="2"]

In [79]:
data_selected = data_selected[data_selected["Files"]=="0002cc93b.jpg"]

In [90]:
data_selected.EncodedPixels.isnull()

1    True
Name: EncodedPixels, dtype: bool

In [71]:
data_final

,Files,DefectClass,EncodedPixels
0,0002cc93b.jpg,1,29102 12 29346 24 29602 24 29858 24 30114 24 3...
1,0002cc93b.jpg,2,NaN
2,0002cc93b.jpg,3,NaN
3,0002cc93b.jpg,4,NaN
4,00031f466.jpg,1,NaN
...,...,...,...
50267,ffff4eaa8.jpg,4,NaN
50268,ffffd67df.jpg,1,NaN
50269,ffffd67df.jpg,2,NaN
50270,ffffd67df.jpg,3,30931 43 31103 127 31275 211 31489 253 31745 2...
50271,ffffd67df.jpg,4,NaN